<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="ROOT_LEVEL" source="LOGGING_LEVEL_ROOT"
        defaultValue="INFO" />
    <springProperty scope="context" name="GOLDENERA_LEVEL" source="LOGGING_LEVEL_GLOBAL_GOLDENERA"
        defaultValue="INFO" />

    <!-- DEV profile: console only -->
    <springProfile name="dev">
        <root level="${ROOT_LEVEL}">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="global.goldenera" level="${GOLDENERA_LEVEL}" />
    </springProfile>

    <!-- PROD profile: console + file -->
    <springProfile name="prod">
        <springProperty scope="context" name="INTERNAL_LOG_PATH" source="LOGGING_DIR"
            defaultValue="./logs" />
        <springProperty scope="context" name="LOG_FILENAME" source="LOGGING_FILE"
            defaultValue="wallet.log" />
        <property name="FULL_LOG_FILE" value="${INTERNAL_LOG_PATH}/${LOG_FILENAME}" />

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${FULL_LOG_FILE}</file>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>
                    ${INTERNAL_LOG_PATH}/archived/${LOG_FILENAME}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <root level="${ROOT_LEVEL}">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
        <logger name="global.goldenera" level="${GOLDENERA_LEVEL}" />
    </springProfile>

</configuration>