{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://node-eu1.geram1.com","description":"Generated server url"}],"paths":{"/api/shared/v1/webhook/{webhookId}/event/unsubscribe":{"put":{"tags":["webhook-event-api-v-1"],"operationId":"apiV1WebhookEventUnsubscribe","parameters":[{"name":"webhookId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WebhookEventDtoV1"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/shared/v1/webhook/{id}":{"get":{"tags":["webhook-api-v-1"],"operationId":"apiV1WebhookGetById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookDtoV1"}}}}}},"put":{"tags":["webhook-api-v-1"],"operationId":"apiV1WebhookUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookUpdateInDtoV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookDtoV1"}}}}}},"delete":{"tags":["webhook-api-v-1"],"operationId":"apiV1WebhookDelete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK"}}}},"/api/shared/v1/webhook/{id}/set-enabled":{"put":{"tags":["webhook-api-v-1"],"operationId":"apiV1WebhookSetEnabled","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookSetEnabledInDtoV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookDtoV1"}}}}}}},"/api/admin/v1/api-key/{id}":{"get":{"tags":["api-key-api-v-1"],"operationId":"apiV1ApiKeyGetById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiKeyDtoV1"}}}}}},"put":{"tags":["api-key-api-v-1"],"operationId":"apiV1CreateApiKeyUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyInDtoV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiKeyDtoV1"}}}}}}},"/api/admin/v1/api-key/{id}/set-enabled":{"put":{"tags":["api-key-api-v-1"],"operationId":"apiV1CreateApiKeySetEnabled","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeySetEnabledInDtoV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiKeyDtoV1"}}}}}}},"/api/shared/v1/webhook":{"post":{"tags":["webhook-api-v-1"],"operationId":"apiV1WebhookCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCreateInDtoV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatedWebhookDtoV1"}}}}}}},"/api/shared/v1/webhook/{webhookId}/event/subscribe":{"post":{"tags":["webhook-event-api-v-1"],"operationId":"apiV1WebhookEventSubscribe","parameters":[{"name":"webhookId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WebhookEventDtoV1"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/explorer/v1/validator/page/bulk":{"post":{"tags":["validator-api-v-1"],"operationId":"apiV1ValidatorGetPageBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkValidatorPageRequestV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidatorDtoV1_Page"}}}}}}},"/api/explorer/v1/tx/page/bulk":{"post":{"tags":["tx-api-v-1"],"operationId":"apiV1TxGetPageBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkTxPageRequestV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TxDtoV1_Page"}}}}}}},"/api/explorer/v1/transfer/page/bulk":{"post":{"tags":["transfer-api-v-1"],"operationId":"apiV1TransferGetPageBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkTransferPageRequestV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransferDtoV1_Page"}}}}}}},"/api/explorer/v1/mem-transfer/page/bulk":{"post":{"tags":["mem-transfer-api-v-1"],"operationId":"apiV1MemTransferGetPageBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkMemTransferPageRequestV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MemTransferDtoV1_Page"}}}}}}},"/api/explorer/v1/bip-state/bulk":{"post":{"tags":["bip-state-api-v-1"],"operationId":"apiV1BipStateGetBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkBipStateRequestV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BipStateDtoV1"}}}}}}}},"/api/explorer/v1/authority/page/bulk":{"post":{"tags":["authority-api-v-1"],"operationId":"apiV1AuthorityGetPageBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkAuthorityPageRequestV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthorityDtoV1_Page"}}}}}}},"/api/explorer/v1/account/balance/page/bulk":{"post":{"tags":["account-balance-api-v-1"],"operationId":"apiV1AccountBalanceGetPageBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkAccountBalancePageRequestV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountBalanceDtoV1_Page"}}}}}}},"/api/core/v1/mempool/submit":{"post":{"tags":["mempool-api-v-1"],"operationId":"submitTx","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MempoolSubmitTxDtoV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MempoolResult"}}}}}}},"/api/admin/v1/api-key":{"post":{"tags":["api-key-api-v-1"],"operationId":"apiV1CreateApiKeyCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyInDtoV1"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatedApiKeyDtoV1"}}}}}}},"/api/shared/v1/webhook/{webhookId}/event/page":{"get":{"tags":["webhook-event-api-v-1"],"operationId":"apiV1WebhookEventGetPage","parameters":[{"name":"webhookId","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["NEW_BLOCK","ADDRESS_ACTIVITY","REORG"]}},{"name":"addressFilter","in":"query","required":false,"schema":{"type":"string"}},{"name":"tokenAddressFilter","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookEventDtoV1_Page"}}}}}}},"/api/shared/v1/webhook/page":{"get":{"tags":["webhook-api-v-1"],"operationId":"apiV1WebhookGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"labelLike","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebhookDtoV1_Page"}}}}}}},"/api/shared/v1/metrics":{"get":{"tags":["metrics-api-v-1"],"operationId":"getMetrics","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/api/explorer/v1/validator/page":{"get":{"tags":["validator-api-v-1"],"operationId":"apiV1ValidatorGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"originTxHash","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdAtBlockHeightFrom","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtBlockHeightTo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtTimestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdAtTimestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidatorDtoV1_Page"}}}}}}},"/api/explorer/v1/validator/list":{"get":{"tags":["validator-api-v-1"],"operationId":"apiV1ValidatorGetList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValidatorDtoV1"}}}}}}}},"/api/explorer/v1/validator/count":{"get":{"tags":["validator-api-v-1"],"operationId":"apiV1ValidatorGetCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/tx/page":{"get":{"tags":["tx-api-v-1"],"operationId":"apiV1TxGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"address","in":"query","required":false,"schema":{"type":"string"}},{"name":"blockHeight","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"timestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"timestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["TRANSFER","BIP_CREATE","BIP_VOTE"]}},{"name":"blockHash","in":"query","required":false,"schema":{"type":"string"}},{"name":"sender","in":"query","required":false,"schema":{"type":"string"}},{"name":"recipient","in":"query","required":false,"schema":{"type":"string"}},{"name":"tokenAddress","in":"query","required":false,"schema":{"type":"string"}},{"name":"referenceHash","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TxDtoV1_Page"}}}}}}},"/api/explorer/v1/tx/count":{"get":{"tags":["tx-api-v-1"],"operationId":"apiV1TxGetCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/tx/confirmations/{hash}":{"get":{"tags":["tx-api-v-1"],"operationId":"apiV1TxGetConfirmationsByHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/tx/by-hash/{hash}":{"get":{"tags":["tx-api-v-1"],"operationId":"apiV1TxGetByHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TxDtoV1"}}}}}}},"/api/explorer/v1/transfer/page":{"get":{"tags":["transfer-api-v-1"],"operationId":"apiV1TransferGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"address","in":"query","required":false,"schema":{"type":"string"}},{"name":"blockHeight","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"timestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"timestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["TRANSFER","BLOCK_FEES","BLOCK_REWARD","MINT","BURN"]}},{"name":"blockHash","in":"query","required":false,"schema":{"type":"string"}},{"name":"txHash","in":"query","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string"}},{"name":"tokenAddress","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransferDtoV1_Page"}}}}}}},"/api/explorer/v1/transfer/count":{"get":{"tags":["transfer-api-v-1"],"operationId":"apiV1TransferGetCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/transfer/by-id/{id}":{"get":{"tags":["transfer-api-v-1"],"operationId":"apiV1TransferGetById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransferDtoV1"}}}}}}},"/api/explorer/v1/token/page":{"get":{"tags":["token-api-v-1"],"operationId":"apiV1TokenGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"nameOrSmallestUnitNameLike","in":"query","required":false,"schema":{"type":"string"}},{"name":"originTxHash","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdAtBlockHeightFrom","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtBlockHeightTo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"updatedAtBlockHeightFrom","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"updatedAtBlockHeightTo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtTimestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdAtTimestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTimestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTimestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenDtoV1_Page"}}}}}}},"/api/explorer/v1/token/count":{"get":{"tags":["token-api-v-1"],"operationId":"apiV1TokenGetCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/token/by-address/{address}":{"get":{"tags":["token-api-v-1"],"operationId":"apiV1TokenGetByAddress","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenDtoV1"}}}}}}},"/api/explorer/v1/network-params":{"get":{"tags":["network-params-api-v-1"],"operationId":"apiV1NetworkParamsGet","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NetworkParamsDtoV1"}}}}}}},"/api/explorer/v1/mem-transfer/page":{"get":{"tags":["mem-transfer-api-v-1"],"operationId":"apiV1MemTransferGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"address","in":"query","required":false,"schema":{"type":"string"}},{"name":"addedAtFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"addedAtTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"transferType","in":"query","required":false,"schema":{"type":"string","enum":["TRANSFER","BLOCK_FEES","BLOCK_REWARD","MINT","BURN"]}},{"name":"txType","in":"query","required":false,"schema":{"type":"string","enum":["TRANSFER","BIP_CREATE","BIP_VOTE"]}},{"name":"from","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string"}},{"name":"tokenAddress","in":"query","required":false,"schema":{"type":"string"}},{"name":"referenceHash","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MemTransferDtoV1_Page"}}}}}}},"/api/explorer/v1/mem-transfer/count":{"get":{"tags":["mem-transfer-api-v-1"],"operationId":"apiV1MemTransferGetCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/mem-transfer/by-hash/{hash}":{"get":{"tags":["mem-transfer-api-v-1"],"operationId":"apiV1MemTransferGetByHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MemTransferDtoV1"}}}}}}},"/api/explorer/v1/block-header/page":{"get":{"tags":["block-header-api-v-1"],"operationId":"apiV1BlockGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"coinbase","in":"query","required":false,"schema":{"type":"string"}},{"name":"identity","in":"query","required":false,"schema":{"type":"string"}},{"name":"timestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"timestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"minNumberOfTxs","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlockHeaderDtoV1_Page"}}}}}}},"/api/explorer/v1/block-header/count":{"get":{"tags":["block-header-api-v-1"],"operationId":"apiV1BlockGetCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/block-header/by-height/{height}":{"get":{"tags":["block-header-api-v-1"],"operationId":"apiV1BlockGetByHeight","parameters":[{"name":"height","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlockHeaderDtoV1"}}}}}}},"/api/explorer/v1/block-header/by-height/{height}/affected-addresses":{"get":{"tags":["block-header-api-v-1"],"operationId":"apiV1BlockGetAffectedAddressesByHeight","parameters":[{"name":"height","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/explorer/v1/block-header/by-height-range":{"get":{"tags":["block-header-api-v-1"],"operationId":"apiV1BlockGetByHeightRange","parameters":[{"name":"fromHeight","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"toHeight","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"coinbase","in":"query","required":false,"schema":{"type":"string"}},{"name":"identity","in":"query","required":false,"schema":{"type":"string"}},{"name":"minNumberOfTransactions","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BlockHeaderDtoV1"}}}}}}}},"/api/explorer/v1/block-header/by-hash/{hash}":{"get":{"tags":["block-header-api-v-1"],"operationId":"apiV1BlockGetByHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlockHeaderDtoV1"}}}}}}},"/api/explorer/v1/block-header/by-hash/{hash}/affected-addresses":{"get":{"tags":["block-header-api-v-1"],"operationId":"apiV1BlockGetAffectedAddressesByHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/explorer/v1/bip-state/page":{"get":{"tags":["bip-state-api-v-1"],"operationId":"apiV1BipStateGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["UNKNOWN","AUTHORITY_ADD","AUTHORITY_REMOVE","ADDRESS_ALIAS_ADD","ADDRESS_ALIAS_REMOVE","TOKEN_CREATE","TOKEN_UPDATE","TOKEN_MINT","TOKEN_BURN","NETWORK_PARAMS_SET","VALIDATOR_ADD","VALIDATOR_REMOVE"]}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["INVALID","APPROVED","DISAPPROVED","PENDING","EXPIRED"]}},{"name":"isActionExecuted","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"createdAtBlockHeightFrom","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtBlockHeightTo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"updatedAtBlockHeightFrom","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"updatedAtBlockHeightTo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtTimestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdAtTimestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTimestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTimestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BipStateDtoV1_Page"}}}}}}},"/api/explorer/v1/bip-state/count":{"get":{"tags":["bip-state-api-v-1"],"operationId":"apiV1BipStateGetCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/bip-state/by-hash/{hash}":{"get":{"tags":["bip-state-api-v-1"],"operationId":"apiV1BipStateGetByHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BipStateDtoV1"}}}}}}},"/api/explorer/v1/authority/page":{"get":{"tags":["authority-api-v-1"],"operationId":"apiV1AuthorityGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"originTxHash","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdAtBlockHeightFrom","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtBlockHeightTo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtTimestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdAtTimestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthorityDtoV1_Page"}}}}}}},"/api/explorer/v1/authority/list":{"get":{"tags":["authority-api-v-1"],"operationId":"apiV1AuthorityGetList","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuthorityDtoV1"}}}}}}}},"/api/explorer/v1/authority/count":{"get":{"tags":["authority-api-v-1"],"operationId":"apiV1AuthorityGetCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/address-alias/page":{"get":{"tags":["address-alias-api-v-1"],"operationId":"apiV1AddressAliasGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"aliasLike","in":"query","required":false,"schema":{"type":"string"}},{"name":"address","in":"query","required":false,"schema":{"type":"string"}},{"name":"originTxHash","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdAtBlockHeightFrom","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtBlockHeightTo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtTimestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdAtTimestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddressAliasDtoV1_Page"}}}}}}},"/api/explorer/v1/address-alias/count":{"get":{"tags":["address-alias-api-v-1"],"operationId":"apiV1AddressAliasGetCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/address-alias/by-alias/{alias}":{"get":{"tags":["address-alias-api-v-1"],"operationId":"apiV1AddressAliasGetByAlias","parameters":[{"name":"alias","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddressAliasDtoV1"}}}}}}},"/api/explorer/v1/address-alias/by-address/{address}":{"get":{"tags":["address-alias-api-v-1"],"operationId":"apiV1AddressAliasGetByAddress","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AddressAliasDtoV1"}}}}}}}},"/api/explorer/v1/account/stats/{address}":{"get":{"tags":["account-stats-api-v-1"],"operationId":"apiV1AccountStatsGetByAddress","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountStatsDtoV1"}}}}}}},"/api/explorer/v1/account/nonce/page":{"get":{"tags":["account-nonce-api-v-1"],"operationId":"apiV1AccountNonceGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"address","in":"query","required":false,"schema":{"type":"string"}},{"name":"nonceGreaterThan","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"nonceLessThan","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtBlockHeightFrom","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtBlockHeightTo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"updatedAtBlockHeightFrom","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"updatedAtBlockHeightTo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtTimestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdAtTimestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTimestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTimestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountNonceDtoV1_Page"}}}}}}},"/api/explorer/v1/account/nonce/count":{"get":{"tags":["account-nonce-api-v-1"],"operationId":"apiV1AccountNonceGetCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/account/nonce/by-address/{address}":{"get":{"tags":["account-nonce-api-v-1"],"operationId":"apiV1AccountNonceGetByAddress","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountNonceDtoV1"}}}}}}},"/api/explorer/v1/account/balance/page":{"get":{"tags":["account-balance-api-v-1"],"operationId":"apiV1AccountBalanceGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"address","in":"query","required":false,"schema":{"type":"string"}},{"name":"tokenAddress","in":"query","required":false,"schema":{"type":"string"}},{"name":"balanceGreaterThan","in":"query","required":false,"schema":{"type":"string"}},{"name":"balanceLessThan","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdAtBlockHeightFrom","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtBlockHeightTo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"updatedAtBlockHeightFrom","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"updatedAtBlockHeightTo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAtTimestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdAtTimestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTimestampFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTimestampTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountBalanceDtoV1_Page"}}}}}}},"/api/explorer/v1/account/balance/count":{"get":{"tags":["account-balance-api-v-1"],"operationId":"apiV1AccountBalanceGetCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/explorer/v1/account/balance/by-address/{address}":{"get":{"tags":["account-balance-api-v-1"],"operationId":"apiV1AccountBalanceGetByAddressAndTokenContractAddress","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}},{"name":"tokenAddress","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountBalanceDtoV1"}}}}}}},"/api/core/v1/mempool/size":{"get":{"tags":["mempool-api-v-1"],"operationId":"getMempoolTransactionSize","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/core/v1/mempool/recommended-fees":{"get":{"tags":["mempool-api-v-1"],"operationId":"getRecommendedFees","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RecommendedFeesDtoV1"}}}}}}},"/api/core/v1/mempool/pending-txs/{address}":{"get":{"tags":["mempool-api-v-1"],"operationId":"getPendingTransactionsByAddress","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BlockchainTxDtoV1"}}}}}}}},"/api/core/v1/mempool/inventory":{"get":{"tags":["mempool-api-v-1"],"operationId":"getMempoolTransactionInventory","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/core/v1/mempool/by-hash/{hash}":{"get":{"tags":["mempool-api-v-1"],"operationId":"getMempoolTransactionByHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlockchainTxDtoV1"}}}}}}},"/api/core/v1/info":{"get":{"tags":["node-info-api-v-1"],"operationId":"getNodeInfo","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NodeInfoDtoV1"}}}}}}},"/api/core/v1/blockchain/worldstate/validators":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getAllValidators","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ValidatorStateDtoV1"}}}}}}}},"/api/core/v1/blockchain/worldstate/validator/{address}":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getWorldStateValidator","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidatorStateDtoV1"}}}}}}},"/api/core/v1/blockchain/worldstate/tokens":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getAllTokens","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/TokenStateDtoV1"}}}}}}}},"/api/core/v1/blockchain/worldstate/token/{address}":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getWorldStateToken","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenStateDtoV1"}}}}}}},"/api/core/v1/blockchain/worldstate/network-params":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getWorldStateNetworkParams","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NetworkParamsStateDtoV1"}}}}}}},"/api/core/v1/blockchain/worldstate/bip-state/{hash}":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getWorldStateBipState","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BipStateDtoV1"}}}}}}},"/api/core/v1/blockchain/worldstate/authority/{address}":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getWorldStateAuthority","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthorityStateDtoV1"}}}}}}},"/api/core/v1/blockchain/worldstate/authorities":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getAllAuthorities","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AuthorityStateDtoV1"}}}}}}}},"/api/core/v1/blockchain/worldstate/address-alias/{alias}":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getWorldStateAddressAlias","parameters":[{"name":"alias","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddressAliasStateDtoV1"}}}}}}},"/api/core/v1/blockchain/worldstate/account/{address}/{tokenAddress}/balance":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getWorldStateAccountBalance","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}},{"name":"tokenAddress","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountBalanceStateDtoV1"}}}}}}},"/api/core/v1/blockchain/worldstate/account/{address}/nonce":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getWorldStateAccountNonce","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountNonceStateDtoV1"}}}}}}},"/api/core/v1/blockchain/tx/by-hash/{hash}":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getTransactionByHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlockchainTxDtoV1"}}}}}}},"/api/core/v1/blockchain/tx/by-hash/{hash}/confirmations":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getTransactionConfirmations","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/core/v1/blockchain/tx/by-hash/{hash}/block-height":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getTransactionBlockHeight","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/core/v1/blockchain/latest-height":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getLatestBlockHeight","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/core/v1/blockchain/genesis/validators":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getGenesisValidators","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ValidatorStateDtoV1"}}}}}}}},"/api/core/v1/blockchain/genesis/network-params":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getGenesisNetworkParams","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NetworkParamsStateDtoV1"}}}}}}},"/api/core/v1/blockchain/genesis/native-token":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getGenesisNativeToken","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenStateDtoV1"}}}}}}},"/api/core/v1/blockchain/genesis/block-hash":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getGenesisBlockHash","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/core/v1/blockchain/genesis/authorities":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getGenesisAuthorities","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AuthorityStateDtoV1"}}}}}}}},"/api/core/v1/blockchain/block/by-hash/{hash}/txs":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getBlockTxsByHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"fromIndex","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"toIndex","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BlockchainTxDtoV1"}}}}}}}},"/api/core/v1/blockchain/block-height/by-hash/{hash}":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getBlockHeightByHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/core/v1/blockchain/block-header/latest":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getLatestBlockHeader","parameters":[{"name":"withEvents","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlockchainBlockHeaderDtoV1"}}}}}}},"/api/core/v1/blockchain/block-header/by-range":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getBlockHeaderByRange","parameters":[{"name":"fromHeight","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"toHeight","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"withEvents","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BlockchainBlockHeaderDtoV1"}}}}}}}},"/api/core/v1/blockchain/block-header/by-height/{height}":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getBlockHeaderByHeight","parameters":[{"name":"height","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"withEvents","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlockchainBlockHeaderDtoV1"}}}}}}},"/api/core/v1/blockchain/block-header/by-hash/{hash}":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getBlockHeaderByHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"withEvents","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlockchainBlockHeaderDtoV1"}}}}}}},"/api/core/v1/blockchain/block-hash/by-height/{height}":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getBlockHashByHeight","parameters":[{"name":"height","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/core/v1/blockchain/account/{address}/summary":{"get":{"tags":["blockchain-api-v-1"],"operationId":"getAccountSummary","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}},{"name":"tokenAddress","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountSummaryDtoV1"}}}}}}},"/api/admin/v1/api-key/page":{"get":{"tags":["api-key-api-v-1"],"operationId":"apiV1ApiKeyGetPage","parameters":[{"name":"pageNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"labelLike","in":"query","required":false,"schema":{"type":"string"}},{"name":"enabled","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"expired","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"type":"string"}}}},"413":{"description":"Payload Too Large","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiKeyDtoV1_Page"}}}}}}}},"components":{"schemas":{"WebhookEventDtoV1":{"type":"object","properties":{"type":{"type":"string","enum":["NEW_BLOCK","ADDRESS_ACTIVITY","REORG"]},"addressFilter":{"type":"string"},"tokenAddressFilter":{"type":"string"}}},"WebhookUpdateInDtoV1":{"type":"object","properties":{"label":{"type":"string"},"description":{"type":"string"},"queryParams":{"type":"object","additionalProperties":{}},"headers":{"type":"object","additionalProperties":{}}}},"WebhookDtoV1":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["BLOCKCHAIN","EXPLORER"]},"label":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"enabled":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"createdByApiKeyId":{"type":"integer","format":"int64"},"queryParams":{"type":"object","additionalProperties":{}},"headers":{"type":"object","additionalProperties":{}}}},"WebhookSetEnabledInDtoV1":{"type":"object","properties":{"enabled":{"type":"boolean"}}},"ApiKeyInDtoV1":{"type":"object","properties":{"permissions":{"type":"array","items":{"type":"string","enum":["READ_ACCOUNT","READ_ADDRESS_ALIAS","READ_AUTHORITY","READ_BIP_STATE","READ_BLOCK_HEADER","READ_NETWORK_PARAMS","READ_MEMPOOL_TX","READ_TOKEN","READ_TX","READ_WRITE_WEBHOOK","READ_NODE_METRICS","SUBMIT_MEMPOOL_TX","READ_VALIDATOR"]},"uniqueItems":true},"label":{"type":"string"},"description":{"type":"string"},"maxWebhooks":{"type":"integer","format":"int64"},"expiresAt":{"type":"string","format":"date-time"}}},"ApiKeyDtoV1":{"type":"object","properties":{"permissions":{"type":"array","items":{"type":"string","enum":["READ_ACCOUNT","READ_ADDRESS_ALIAS","READ_AUTHORITY","READ_BIP_STATE","READ_BLOCK_HEADER","READ_NETWORK_PARAMS","READ_MEMPOOL_TX","READ_TOKEN","READ_TX","READ_WRITE_WEBHOOK","READ_NODE_METRICS","SUBMIT_MEMPOOL_TX","READ_VALIDATOR"]},"uniqueItems":true},"id":{"type":"integer","format":"int64"},"label":{"type":"string"},"description":{"type":"string"},"enabled":{"type":"boolean"},"maxWebhooks":{"type":"integer","format":"int64"},"expiresAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"ApiKeySetEnabledInDtoV1":{"type":"object","properties":{"enabled":{"type":"boolean"}}},"WebhookCreateInDtoV1":{"type":"object","properties":{"label":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"type":{"type":"string","enum":["BLOCKCHAIN","EXPLORER"]},"queryParams":{"type":"object","additionalProperties":{}},"headers":{"type":"object","additionalProperties":{}}}},"CreatedWebhookDtoV1":{"type":"object","properties":{"webhook":{"$ref":"#/components/schemas/WebhookDtoV1"},"secretKey":{"type":"string"}}},"BulkValidatorPageRequestV1":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"direction":{"type":"string","enum":["ASC","DESC"]},"addresses":{"type":"array","items":{"type":"string"},"uniqueItems":true},"originTxHash":{"type":"string"},"createdAtBlockHeightFrom":{"type":"integer","format":"int64"},"createdAtBlockHeightTo":{"type":"integer","format":"int64"},"createdAtTimestampFrom":{"type":"string","format":"date-time"},"createdAtTimestampTo":{"type":"string","format":"date-time"}}},"ValidatorDtoV1":{"type":"object","properties":{"version":{"type":"string","enum":["V1"]},"address":{"type":"string"},"originTxHash":{"type":"string"},"createdAtBlockHeight":{"type":"integer","format":"int64"},"createdAtTimestamp":{"type":"string","format":"date-time"}}},"ValidatorDtoV1_Page":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/ValidatorDtoV1"}},"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"}}},"BulkTxPageRequestV1":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"direction":{"type":"string","enum":["ASC","DESC"]},"addresses":{"type":"array","items":{"type":"string"},"uniqueItems":true},"blockHeight":{"type":"integer","format":"int64"},"timestampFrom":{"type":"string","format":"date-time"},"timestampTo":{"type":"string","format":"date-time"},"type":{"type":"string","enum":["TRANSFER","BIP_CREATE","BIP_VOTE"]},"blockHash":{"type":"string"},"senders":{"type":"a
[...]
